{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-blog">
        <div class="container-fluid">
            <div class="header-content-inner">
                <h1>Our News</h1>
                <h3>We are proud of our long history of making delicious meals, warm and
                    friendly atmosphere and professional staff.</h3>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-xl-12 text-center">
                <div class="section-title text-center mb-60">

                    <p style="margin-top: 50px">Famous for good food</p>
                    <h4>Latest news</h4>
                    <div>
                    <h4><a href="{% url 'blog:tags_list_url' %}">#Tags</a></h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 col-md-10 offset-sm-1 text-center">
                            <div class="info-form">
                                <form action="" method="GET" class="form-inline justify-content-center">
                                    <div class="form-group">
                                        <label>
                                            <input type="text" class="form-control" name="search"
                                                   placeholder="Search...">
                                        </label>
                                        <button type="submit" class="btn btn-success" style="margin: 20px;">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Nav pills -->

            <ul class="nav nav-tabs menu_tab" role="tablist" style="margin-bottom: 80px">
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#{{ category }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content slideanim">
                {% for category in categories %}
                    <div id="{{ category }}" class="tab-pane fade show">
                        <div class="col-sm-6 col-md-12 col-lg-12">
                            <div class="row">
                                {% for post in posts %}
                                    {% if post.category == category %}
                                        {% include 'includes/post_body_card.html' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}