{% extends 'base.html' %}
<meta name="csrf_token" content="{{ csrf_token }}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <section style="padding: 0">
        <header class="header text-center">
            <h1 class="header-h1">{{ post.title }}</h1>
        </header>
        <div class="background-bar"></div>
        <section class="container-fluid main-body">
            <section class="row">
                <div class="hidden-xs col-sm-1 col-md-2"></div>
                <div class="col-xs-12 col-sm-10 col-md-8">
                    <div class="content-holder">
                        <div class="content-description">

                            <div class="author-name">
                                <h3>Author: {{ post.author.first_name }} {{ post.author.last_name }}</h3>
                            </div>
                            <div class="row blog-info">
                                <div class="col-xs-12 col-sm-6">
                                    <span class="lead text-muted"><i class="fa fa-clock-o"></i>
                                        Published: {{ post.created_date }}
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <span class="lead text-muted"><i class="fa fa-tags"></i>
                                        {% for tag in post.tags.all %}
                                            <span class="badge tag-badge-post-body">
                                                <a href="{{ tag.get_absolute_url }}" class="link-badge"
                                                   style="text-decoration: none;">
                                                    {{ tag.title }}
                                                </a>
                                            </span>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <p>
                            <blockquote>
                                {{ post.content }}
                            </blockquote>
                            </p>

                            <div class="container">
                                <h2 class="text-center" style="color: #FF5E18; margin-top: 50px; margin-bottom: 50px">Comments</h2>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            {% for comment in comments %}
                                                <div class="col-md-2">
                                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                         class="img img-rounded img-fluid"/>
                                                    <small class="text-secondary text-center">{{ comment.user.last_login }}</small>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>
                                                        <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong>
                                                    </p>
                                                    <div class="clearfix"></div>
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a href="{{ post.get_comment_url }}" class="btn btn-default">Leave Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}