{% extends 'base.html' %}

{% block title %}
    News Tags
{% endblock %}

{% block header %}
    <header class="header text-center">
            <h1 class="header-h1">#Tags</h1>
        </header>
{% endblock %}

{% block content %}
<div class="item">
    <div class="item-content-block tags" style="text-align: center">
        {% for tag in tags %}
    	    <span class="badge tag-badge-details">
                <a href="{{ tag.get_absolute_url }}" class="btn btn-default">
                    {{ tag.title }}
                </a>
            </span>
        {% endfor %}
    </div>
</div>
{% endblock %}