{% extends 'base.html' %}
{% load static %}

{% block title %}
    Menu Appetizer
{% endblock %}

{% block content %}

    {% include 'includes/menu_header.html' %}

    <section class="bg-menu bg-section" id="menu">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center mb-60">
                        <p>Famous for good food</p>
                        <h4>our menu</h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Nav pills -->

                <ul class="nav nav-tabs menu_tab center-box" role="tablist" style="margin-bottom: 80px">
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#{{ category }}">{{ category|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>


                <!-- Tab panes -->
                <div class="tab-content slideanim">
                    {% for category in categories %}
                        <div id="{{ category }}" class="tab-pane fade show">
                            <div class="row">
                                <div class="col-sm-7">
                                    <ul class="list-group">
                                        {% for meal in meals %}
                                            {% if meal.category == category %}
                                                <li class="list-group-item single_our_menu_list">
                                                    <div class="menu_content">
                                                        <h4>
                                                            <a href="{{ meal.get_absolute_url }}">{{ meal.name }}</a>
                                                            <span>${{ meal.price }}</span>
                                                        </h4>
                                                        <p>{{ meal.ingredients }}</p>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-5">
                                    <div class="right-cover">
                                        <img src="{{ category.image.url }}"
                                             class="menu-img img-fluid" alt="breakfast-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}