<div class="col-md-6 col-sm-6 contact-left">
    <div class="left-box">
        <address class="contact">
            <span class="span-contact">Call:</span>
            <br>
            +38063 123 5678
            <br>
            <span class="span-contact">Email:</span>
            <br>
            appetizer@email.com
            <br>
            <span class="span-contact">Visit:</span>
            <br>
            27, John McCain Street
            <br>
            Kyiv, Center
            <br>
            Ukraine
        </address>
    </div>
</div>