<div class="col-md-6 col-sm-6 contact-left">
    <div class="left-box">
        <address class="contact">
            <span class="span-contact">Call:</span>
            <br>
            +091 1234 5678
            <br>
            <span class="span-contact">Email:</span>
            <br>
            northstreet@gmail.com
            <br>
            <span class="span-contact">Visit:</span>
            <br>
            22, Northstreet Road
            <br>
            Melbourne, Victoria
            <br>
            Australia
        </address>
    </div>
</div>