{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    {% if not cart_items %}
        <div>
            <div class="text-center">
                <br>
                <h1>Your shopping cart is empty</h1>
                <br>
                <p>Please click
                    <a href="{% url 'catering:catering_products_list_url' %}">
                        to continue shopping</a>
                </p>
            </div>
        </div>

    {% else %}

        <div>
            <div class="text-center">
                <hr>
                <h1>Your shopping cart</h1>
                <hr>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table">

                    <thead>
                    <tr>
                        <th colspan="5">Your items</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="{{ cart_items.product.get_absolute_url }}">
                                    <img src="{{ cart_item.product.image.url }}" alt="" style="width:4em; height:4em;">
                                </a>
                            </td>
                            <td class="text-left">
                                {{ cart_item.product.name }}
                                <br>
                                Unit price: {{ cart_item.product.price }}
                                <br>
                                Quantity: {{ cart_item.quantity }} x {{ cart_item.product.price }}
                            </td>
                            <td>
                                Total: {{ cart_item.sub_total }}
                            </td>
                            {% if cart_item.quantity < cart_item.product.stock %}
                                <td>
                                    <a href="{% url 'cart:add_to_cart_url' cart_item.product.slug %}">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>&nbsp;
                                    <a href="{% url 'cart:full_remove_from_cart_url' cart_item.product.slug %}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;
                                    <a href="{% url 'cart:remove_from_cart_url' cart_item.product.slug %}">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'cart:full_remove_from_cart_url' cart_item.product.slug %}">
                                        <i class="fa fa-trash"></i>
                                    </a>&nbsp;
                                    <a href="{% url 'cart:remove_from_cart_url' cart_item.product.slug %}">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Checkout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Please review your shopping cart items before proceeding with the order payment</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            Your total is: <strong>${{ total }}</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="mx-auto">
                    <a href="{% url 'catering:catering_products_list_url' %}">Continue Shopping</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}
